.root {
  --blur: 4px;
  --stop: 25%;
  position: absolute;
  pointer-events: none;
  user-select: none;
  backdrop-filter: blur(var(--blur));

  &[data-side="top"] {
    background: linear-gradient(to top, transparent, var(--background));
    mask-image: linear-gradient(
      to bottom,
      var(--background) var(--stop),
      transparent
    );
  }

  &[data-side="left"] {
    background: linear-gradient(to left, transparent, var(--background));
    mask-image: linear-gradient(
      to right,
      var(--background) var(--stop),
      transparent
    );
  }

  &[data-side="right"] {
    background: linear-gradient(to right, transparent, var(--background));
    mask-image: linear-gradient(
      to left,
      var(--background) var(--stop),
      transparent
    );
  }

  &[data-side="bottom"] {
    background: linear-gradient(to bottom, transparent, var(--background));
    mask-image: linear-gradient(
      to top,
      var(--background) var(--stop),
      transparent
    );
  }
}
